body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    color: #666;
    margin-bottom: 5px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    transition: border-bottom 0.3s ease;
    margin-bottom: 20px;
}

#loginForm input[type="text"]:focus,
#loginForm input[type="password"]:focus {
    border-bottom: 2px solid #7cdb9e;
}

#loginForm input[type="submit"] {
    padding: 10px 25px;
    background-color: #7cdb9e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginForm input[type="submit"]:hover {
    background-color: #32b679;
}